*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
  line-height:1.6;
}

.section{
  padding:80px 10%;
  text-align:center;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 10%;
  position:sticky;
  top:0;
  background:#0f172a;
}

.logo{color:#38bdf8}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:white;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 28px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
  border-radius:8px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:40px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
}

.card img{
  width:100%;
  border-radius:8px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:6px;
}

.hamburger{
  display:none;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){
  nav{display:none; flex-direction:column;}
  nav.active{display:flex;}
  .hamburger{display:block;}
}